/* Basic styles for the band website */

/* Reset default margin and padding */

:root {
    --primary-color: #0A5C36; /* Main green color */
    --dark-color: #333; /* Dark background color */
    --light-color: #fff; /* Light text color */
    --accent-color: #800020; /* Accent color for contrast */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center all elements in the body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    font-family: Arial, sans-serif; /* Example font */
    background-color: var(--dark-color); /* Set dark background */
    color: var(--light-color); /* Set light text color */
}

/* Style header */
header {
    background-color: var(--primary-color); /* Use primary color for header */
    color: var(--light-color); /* Set light text color */
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Position relative for absolute positioning */
}

.band-image {
    position: relative;
    overflow: hidden; /* Ensure the image does not overflow */
    margin-top: -20px;
}

.band-image img {
    width: 100%; /* Make band image fill container */
    max-width: 100%;
    height: auto;
    /* Remove border-radius to eliminate oval view */
    margin-bottom: 15px;
}

.band-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none; /* Ensure the gradient doesn't interfere with hover actions */
}

.band-name {
    position: absolute;
    top: 20px; /* Position at the top of the band-image container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 50px; /* Adjust font size */
    color: var(--light-color); /* Set light text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add subtle text shadow for better contrast */
    background-color: rgba(80, 200, 120, 0.7); /* Semi-transparent background */
    padding: 10px 20px; /* Add padding around the band name */
    border-radius: 8px; /* Rounded corners for the band name */
    z-index: 1; /* Ensure band name appears above the band image */
}

.social-icons-container {
    position: absolute;
    bottom: 10px; /* Adjust bottom position */
    right: 20px; /* Adjust right position */
    transform: translate(-50%, 0); /* Center horizontally */
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 5px; /* Adjust margin between icons */
    border: 2px solid var(--light-color); /* Add border around each icon */
    border-radius: 50%; /* Make border round for circular effect */
    overflow: hidden;
}

.social-icons img {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    display: block;
    transition: transform 0.3s ease; /* Add smooth transition */
}

.social-icons li:hover img {
    transform: scale(1.1); /* Scale up icon on hover */
}
/* Style past performances section */
#past-performances {
    padding: 20px;
    text-align: center; /* Center align text in past performances section */
}



.section-title {
    margin-bottom: 20px;
}

#about-us {
    padding: 20px;
    text-align: center; /* Center align text in about us section */
}

.about-us-content {
    max-width: 950px; /* Adjust max width of content */
    margin: 0 auto; /* Center align content */
    margin-bottom: 20px;
    background-color: #0A5C36; /* Background color for content */
    padding: 20px; /* Padding inside the content box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.merge {
    margin-top: 20px; /* Adjust margin top for band image */
    text-align: center; /* Center align band image */
}

.merge img {
    max-width: 950px; /* Ensure band image adjusts to container width */
    height: auto; /* Ensures image maintains aspect ratio */
}


.performance {
    display: flex;
    justify-content: center;
}

.performance-box {
    background-color: #0A5C36;

    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    width: 85%; /* Adjust width of performance box */
    margin-bottom: 20px; /* Add space between performance boxes */
}

.performance-box img {
    width: 100%; /* Make performance image fill its container */
    max-width: 100%;
    height: auto;
    margin-bottom: -10px;
}

.performance-details {
    padding: 10px;
    text-align: center; /* Center align text in performance details */
}

/* Style videos section */
#videos {
    padding: 20px;
    text-align: center; /* Center align text in videos section */
}

#videos h2 {
    margin-bottom: 30px; /* Add space between heading and videos */
}

.video {
    margin-bottom: 10px;
}


.video iframe {
    width: 70vw; /* Make videos span the full width of the viewport */
    height: 40vw; /* Maintain 16:9 aspect ratio (9/16 * 100 = 56.25) */
    max-width: 100%; /* Ensure videos do not exceed the viewport width */
    max-height: calc(100vw * 0.5625); /* Maintain aspect ratio with maximum height */
}

/* Add border or horizontal rule between sections */
.section-divider {
    width: 80%;
    border-top: 3px solid var(--primary-color); /* Solid border line with primary color */
    margin: 10px auto; /* Adjust margin as needed */
    margin-top: -10px;
    
    
}

main {
    width: 100vw; /* Set width to 70% of viewport width */
    text-align: center;
    max-width: 1200px; /* Limit maximum width */
    margin: 20px auto; /* Center align and add margin */
    padding: 20px;
    background-color: #333; /* White background for form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

form {
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto;
    background-color: #0A5C36;
    padding: 30px; /* Increase padding for larger form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px; /* Reduce padding for input fields */
    font-size: 14px; /* Reduce font size for input fields */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

button {
    background-color: #800020; /* Primary color for button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: pink; /* Darker shade of primary color on hover */
    color: black;
}

.band-logo {
    text-align: center;
    margin-top: 20px; /* Adjust top margin */
    margin-bottom: 20px; /* Adjust bottom margin */
}

.footer-image {
    max-width: 100%; /* Ensure band image adjusts to container width */
}

/* Style footer */
footer {
    background-color: var(--primary-color); /* Use primary color for footer */
    color: var(--light-color); /* Set light text color */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .band-name {
        font-size: 20px; /* Decrease font size for band name on smaller screens */
    }

    .social-icons img {
        width: 25px; /* Decrease size of social icons on smaller screens */
    }



    .social-icons li {
        margin: 0 10px; /* Adjust margin between icons */
    }

    .social-icons img {
        width: 30px; /* Reduce icon size */
        height: 30px;
    }

    main {
        width: 100vw; /* Adjust width for smaller screens */
    }

    form {
        padding: 20px; /* Adjust padding for form on smaller screens */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px; /* Reduce padding for input fields on smaller screens */
        font-size: 14px; /* Reduce font size for input fields on smaller screens */
    }

    button {
        padding: 10px 20px; /* Adjust button padding for smaller screens */
        display: block; /* Display button as block for full width on smaller screens */
        margin: 20px auto 0; /* Center align button with top margin on smaller screens */
    }

    .merge {
        margin-top: 10px; /* Reduce top margin for band image on smaller screens */
    }

    .merge img {
        max-width: 100%; /* Ensure band image adjusts to container width */
        height: auto; /* Ensures image maintains aspect ratio */
    }
}


